<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hollo.www" >

    <application
        android:name=".app.HolloApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:windowSoftInputMode="adjustUnspecified|stateHidden"
        android:configChanges="orientation|keyboardHidden"
        android:theme="@style/application_theme" >

        <!--用户登录-->
        <activity
            android:name=".login.ActivityLogin"
            android:screenOrientation="landscape"
            android:theme="@style/activity_theme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--功能-->
        <activity android:name=".features.ActivityFeatures"/>




        <!-- ==============定位服务============================ -->
        <service
            android:name=".location.ServiceLocation"
            android:enabled="true"
            android:exported="true" >
        </service>

        <!-- 定位数据 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="889ed5668478ce98870967a5c94a110f" />

    </application>

    <!-- 定位需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

</manifest>
